section.rating-widget
  // Rating Stars Box
  .rating-stars.text-center
    ul#stars
      li.star(data-value='1')
        i.icon-star
      li.star(data-value='2')
        i.icon-star
      li.star(data-value='3')
        i.icon-star
      li.star(data-value='4')
        i.icon-star
      li.star(data-value='5')
        i.icon-star
  .success-box
    .text-message
