.review
  .review__window
    .close
      i.icon-close
    form
      h2.title Написать отзыв специалисту
      p Поставьте оценку специалисту: 
        span Jane Cooper
      include rating
      p Напишите отзыв специалисту: 
        span Jane Cooper
      textarea(placeholder="Напишите отзыв здесь")
      button(type="submit").btn.btn--wide Написать отзыв  