include ../menu
include ../review-window
header.header
  .header__container 
    .logo 
       a(href="#")
        svg(width='60' height='37' viewBox='0 0 60 37' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.2' d='M0 18.4571C0 8.26354 8.26354 0 18.4571 0H45.9153V36.9143H18.4571C8.26353 36.9143 0 28.6507 0 18.4571Z' fill='#62A111')
          circle(cx='41.1497' cy='18.4723' r='18.4723' fill='#62A111')
          path(d='M41.6131 24.9807C40.2672 24.9807 39.0796 24.7015 38.0504 24.1432C37.037 23.5848 36.2453 22.8191 35.6752 21.8461C35.121 20.873 34.8439 19.7563 34.8439 18.4961C34.8439 17.2358 35.1131 16.1192 35.6515 15.1461C36.2057 14.173 36.9578 13.4153 37.9079 12.8729C38.8738 12.3146 39.9584 12.0354 41.1618 12.0354C42.381 12.0354 43.4578 12.3066 44.392 12.849C45.3262 13.3913 46.0546 14.1571 46.5771 15.1461C47.1155 16.1192 47.3847 17.2598 47.3847 18.5679C47.3847 18.6636 47.3767 18.7752 47.3609 18.9029C47.3609 19.0305 47.353 19.1501 47.3372 19.2618H36.6253V17.6107H46.1496L45.2233 18.185C45.2391 17.3714 45.0729 16.6456 44.7245 16.0075C44.3762 15.3694 43.8932 14.8749 43.2757 14.524C42.674 14.1571 41.9693 13.9736 41.1618 13.9736C40.3701 13.9736 39.6655 14.1571 39.0479 14.524C38.4304 14.8749 37.9474 15.3774 37.5991 16.0314C37.2507 16.6695 37.0766 17.4033 37.0766 18.2329V18.6157C37.0766 19.4612 37.2666 20.2189 37.6466 20.8889C38.0425 21.543 38.5887 22.0534 39.2854 22.4203C39.9821 22.7872 40.7818 22.9707 41.6843 22.9707C42.4285 22.9707 43.1015 22.8431 43.7032 22.5878C44.3207 22.3326 44.8591 21.9497 45.3183 21.4393L46.5771 22.9228C46.0071 23.5928 45.2945 24.1033 44.4395 24.4542C43.6003 24.8052 42.6581 24.9807 41.6131 24.9807Z' fill='white')
        svg(width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg').logo-mobile
          g(opacity='0.7')
            path(d='M24.9418 29.3843C24.2065 29.3843 23.554 29.2235 22.9841 28.9018C22.4143 28.5801 21.9639 28.1389 21.633 27.5783C21.3022 27.0084 21.1367 26.3651 21.1367 25.6482C21.1367 24.9221 21.3022 24.2787 21.633 23.718C21.9639 23.1574 22.4143 22.7208 22.9841 22.4083C23.554 22.0866 24.2065 21.9258 24.9418 21.9258C25.6679 21.9258 26.3159 22.0866 26.8857 22.4083C27.4648 22.7208 27.9151 23.1574 28.2368 23.718C28.5677 24.2695 28.7331 24.9129 28.7331 25.6482C28.7331 26.3742 28.5677 27.0176 28.2368 27.5783C27.9151 28.1389 27.4648 28.5801 26.8857 28.9018C26.3159 29.2235 25.6679 29.3843 24.9418 29.3843ZM24.9418 28.2262C25.4106 28.2262 25.8287 28.1205 26.1964 27.9091C26.5732 27.6978 26.8673 27.399 27.0787 27.013C27.2901 26.6178 27.3958 26.1629 27.3958 25.6482C27.3958 25.1243 27.2901 24.6739 27.0787 24.2971C26.8673 23.911 26.5732 23.6123 26.1964 23.4009C25.8287 23.1895 25.4106 23.0839 24.9418 23.0839C24.4731 23.0839 24.0549 23.1895 23.6872 23.4009C23.3196 23.6123 23.0255 23.911 22.8049 24.2971C22.5843 24.6739 22.474 25.1243 22.474 25.6482C22.474 26.1629 22.5843 26.6178 22.8049 27.013C23.0255 27.399 23.3196 27.6978 23.6872 27.9091C24.0549 28.1205 24.4731 28.2262 24.9418 28.2262Z' fill='#010000')
            path(d='M16.0961 29.3843C15.3516 29.3843 14.6853 29.2235 14.097 28.9018C13.518 28.5801 13.063 28.1389 12.7322 27.5783C12.4013 27.0176 12.2358 26.3742 12.2358 25.6482C12.2358 24.9221 12.4013 24.2787 12.7322 23.718C13.063 23.1574 13.518 22.7208 14.097 22.4083C14.6853 22.0866 15.3516 21.9258 16.0961 21.9258C16.7578 21.9258 17.3461 22.0591 17.8608 22.3256C18.3846 22.5829 18.7891 22.969 19.074 23.4837L18.0676 24.1316C17.8286 23.7732 17.5345 23.5112 17.1852 23.3458C16.8451 23.1712 16.4775 23.0839 16.0823 23.0839C15.6044 23.0839 15.177 23.1895 14.8001 23.4009C14.4233 23.6123 14.1246 23.911 13.904 24.2971C13.6834 24.6739 13.5731 25.1243 13.5731 25.6482C13.5731 26.172 13.6834 26.627 13.904 27.013C14.1246 27.399 14.4233 27.6978 14.8001 27.9091C15.177 28.1205 15.6044 28.2262 16.0823 28.2262C16.4775 28.2262 16.8451 28.1435 17.1852 27.9781C17.5345 27.8035 17.8286 27.5369 18.0676 27.1785L19.074 27.8126C18.7891 28.3182 18.3846 28.7088 17.8608 28.9845C17.3461 29.251 16.7578 29.3843 16.0961 29.3843Z' fill='#010000')
            path(d='M6.82272 29.3843C6.04149 29.3843 5.35216 29.2235 4.75474 28.9018C4.16651 28.5801 3.70696 28.1389 3.37608 27.5783C3.0544 27.0176 2.89355 26.3742 2.89355 25.6482C2.89355 24.9221 3.0498 24.2787 3.3623 23.718C3.68398 23.1574 4.12056 22.7208 4.67202 22.4083C5.23267 22.0866 5.86226 21.9258 6.56078 21.9258C7.26849 21.9258 7.89348 22.082 8.43575 22.3945C8.97802 22.707 9.40081 23.1482 9.70412 23.718C10.0166 24.2787 10.1729 24.9358 10.1729 25.6895C10.1729 25.7447 10.1683 25.809 10.1591 25.8825C10.1591 25.9561 10.1545 26.025 10.1453 26.0893H3.92755V25.1381H9.45596L8.91828 25.4689C8.92747 25.0002 8.83097 24.582 8.62876 24.2144C8.42656 23.8467 8.14623 23.5618 7.78778 23.3596C7.43852 23.1482 7.02952 23.0425 6.56078 23.0425C6.10123 23.0425 5.69223 23.1482 5.33378 23.3596C4.97533 23.5618 4.695 23.8513 4.4928 24.2281C4.29059 24.5958 4.18949 25.0186 4.18949 25.4965V25.7171C4.18949 26.2042 4.29978 26.6408 4.52037 27.0268C4.75015 27.4036 5.06724 27.6978 5.47164 27.9091C5.87605 28.1205 6.34019 28.2262 6.86408 28.2262C7.29606 28.2262 7.68668 28.1527 8.03594 28.0057C8.39439 27.8586 8.70689 27.638 8.97343 27.3439L9.70412 28.1987C9.37324 28.5847 8.95964 28.8788 8.46333 29.081C7.9762 29.2832 7.42933 29.3843 6.82272 29.3843Z' fill='#010000')
          path(opacity='0.2' d='M0.388184 9.62137C0.388184 4.67047 4.40167 0.656982 9.35257 0.656982H22.6886V18.5858H9.35258C4.40168 18.5858 0.388184 14.5723 0.388184 9.62137Z' fill='#62A111')
          circle(cx='21.9688' cy='9.62873' r='8.97175' fill='#62A111')
          path(d='M22.1944 12.7895C21.5407 12.7895 20.9639 12.654 20.4641 12.3828C19.9719 12.1116 19.5873 11.7397 19.3105 11.2671C19.0413 10.7945 18.9067 10.2521 18.9067 9.64006C18.9067 9.02798 19.0375 8.48564 19.299 8.01302C19.5681 7.5404 19.9334 7.17238 20.3948 6.90896C20.864 6.63778 21.3908 6.5022 21.9752 6.5022C22.5674 6.5022 23.0904 6.63391 23.5441 6.89734C23.9978 7.16076 24.3516 7.53266 24.6054 8.01302C24.8669 8.48564 24.9976 9.03961 24.9976 9.67493C24.9976 9.72141 24.9938 9.77565 24.9861 9.83763C24.9861 9.89961 24.9822 9.95772 24.9745 10.012H19.7719V9.21006H24.3977L23.9479 9.48898C23.9555 9.09384 23.8748 8.74131 23.7056 8.4314C23.5364 8.12149 23.3019 7.88131 23.0019 7.71086C22.7097 7.53266 22.3675 7.44356 21.9752 7.44356C21.5907 7.44356 21.2485 7.53266 20.9486 7.71086C20.6486 7.88131 20.4141 8.12536 20.2449 8.44302C20.0757 8.75294 19.9911 9.10934 19.9911 9.51222V9.69817C19.9911 10.1088 20.0834 10.4768 20.268 10.8022C20.4602 11.1199 20.7255 11.3678 21.0639 11.546C21.4023 11.7242 21.7907 11.8133 22.229 11.8133C22.5905 11.8133 22.9173 11.7513 23.2096 11.6274C23.5095 11.5034 23.771 11.3175 23.994 11.0695L24.6054 11.7901C24.3285 12.1155 23.9825 12.3634 23.5672 12.5339C23.1596 12.7043 22.702 12.7895 22.1944 12.7895Z' fill='white')

    
    ul.nav
      li.nav__item.active
        a(href="#") Главная
      li.nav__item 
        a(href="#") Доставка еды 
        ul.nav__item-dropdown
          li.active
            a(href="#") Six Box
          li 
            a(href="#") Eat Fit Healthy
          li 
            a(href="#") Food Project
          li 
            a(href="#") Malina Eco Food
          li 
            a(href="#") Grow Food
          li 
            a(href="#") Healthy Food
          .nav__item-dropdown-close  
            
      li.nav__item 
        a(href="#") Эко продукты
      li.nav__item 
        a(href="#") Диетологи и Нутрицологи
      li.nav__item 
        a(href="#") Контакты
      
    .hamburger
      span
      span
      span