.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  min-width: 80px;
}

.rating-stars ul>li.star {
  display: inline-block;
}

.rating-stars ul>li.star>i {
  font-size: 18px;
  color: #ccc;

  @include xs {
    font-size: 12px;
  }

  &:before {
    margin: auto;
  }
}

.rating-stars ul>li.star.hover>i {
  color: #FFB400;
}

.rating-stars ul>li.star.selected>i {
  color: #FFB400;
}