
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-envelope:before { content: '\e801'; } /* '' */
.icon-fb:before { content: '\e802'; } /* '' */
.icon-ins:before { content: '\e803'; } /* '' */
.icon-marker:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-tw:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-wp:before { content: '\e809'; } /* '' */
.icon-angle:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-chrome:before { content: '\e80c'; } /* '' */
.icon-close:before { content: '\e80d'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
