extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/header/header
      .offer
        .container 
          h2.title Политика конфиденциальности
          p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium senectus faucibus porttitor nec facilisis pretium ut nam at. Pellentesque facilisi malesuada velit fames ligula consectetur. Nunc viverra pulvinar luctus tempor, id eu varius. 
          ul
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nam fugit reiciendis pariatur est molestiae. Quod excepturi nemo quidem autem eaque amet laborum, nesciunt quasi a dolorum perferendis inventore repellendus reiciendis sed rem harum voluptatem cupiditate. Voluptas, officiis? Eos, eveniet.
            li Dolores, maiores.
            li Molestiae, nobis.
            li Sit, facere?
            li Tempore, optio.
            li Voluptate, quos.
            li Nesciunt, voluptate.
            li Ut, neque.
            li Est, autem.
            li Magnam, nesciunt.
            li Quibusdam, esse?
            li Qui, quasi.
            li Quaerat, dolorum!
            li Sint, cum!
            li Voluptatum, at.
            li In, nesciunt?
            li Tempore, iste?
            li Velit, reprehenderit?  
          p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere accusantium, sunt quam esse nemo dicta fugiat numquam praesentium cumque, dignissimos eligendi atque animi magnam. Sapiente iusto quam alias maiores ipsa debitis aut itaque architecto sed, ea sequi odio labore optio mollitia incidunt voluptatum, perferendis consequuntur! Quisquam exercitationem saepe consequuntur aliquam!    
    include includes/footer/footer



  include includes/scripts 
  